.description {
    font-size: 0.6em;
}

.form-label {
   font-size: 0.8rem;
   color: black;
}

.form-layout {
    
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    
}

.form-group {
    width: 100%;
}

.small-btn {
    font-size: 0.6rem !important;
    font-weight: 200;
    line-height: .2rem !important;
    height: 1.0rem !important;
}