.list-links {
    font-size: .8em;
}


.injury-list-item {
    cursor: pointer;
}

.treatment-title {
    text-align: left;
    
  }
  .treatment-name {
    font-weight: 400;
  }

  /* .background-image {

    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
  } */

  .title:hover {
    color: rgb(61, 61, 214);
    font-weight: 500;
  }