
.navbar {
 
    margin-top: auto;
    
  }
  #top-filler {
    margin-bottom: auto;
  }
  
  #nav-container {
    align-items: flex-end;
  }

  .text-center {
    text-align: center;
  }
  
  .App-header {
    background-color: #222;
    opacity: .6;
    padding: .5rem;
    color: white;
  }
  
  .App-title {
    font-size: 1.4rem;
  }
  

.nav-link:hover {
  opacity: 0.8;
}