a { 
  cursor: pointer; 
}

.avatar {
  margin: 1.5rem  2.5rem  1.5rem  0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .btn-right {
  display: flex;
  flex-direction: row-reverse;
} */

.card { 
  /* width: max-content; */
  max-width: 100%;
  margin-bottom: 7px;
  margin-top: 7px;
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .3);
  padding: 15px 30px;
  display: flex;
  justify-content: flex-start;
}
.card-header, .card-header-treatment, .card-bdy, .card-description {
  display: flex;
  align-items: center;
}

.card-bdy, .card-description  {
  font-size: .8rem;

}

/* .padding-medium {
  padding-left: 8px;
} */

.card-title-line {
  height: 35px;
  font-size: 1rem;
}

.no-pointer {
  cursor: default;
}

.card-line, .card-title-line {
  text-align: left;
}

.card-line {
  font-size: 0.6rem;
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment {
  font-size: .8rem;
  font-weight: 200;
  color: black;
  
}

.comment-line {
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.list-title {
  align-items: center;
  height: 35px;
  margin-top: auto;
}

.list-links {
    font-size: 0.6rem;
    font-weight: 200;
}

.color-picker-container {
  display: flex;
  align-items: center;
}

.treatment-title {
  text-align: left;
  
}
.treatment-name {
  font-weight: 400;
}

.toggle {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .card {
    padding: .5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .card .card-title {
    font-size: 1rem;
  }
  .card-body p {
    font-size: 1.4rem;
    font-weight: 300;
  }
  .card-header {
    flex-direction: column;
    justify-content: center;
  }
}

.pointer {
  cursor: pointer;
}