/* columns is spectre */
/* spectre uses font-size .7 and .9 rem for small and large */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .btn-right {
  display: flex;
  flex-direction: row-reverse;
} */

.card { 
  /* width: max-content; */
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .3);
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.card-header, .card-header-treatment, .card-bdy, .card-description {
  display: flex;
  align-items: center;
}



/* .padding-medium {
  padding-left: 8px;
} */



.no-pointer {
  cursor: default;
}

/* .card-line, .card-title-line {
  text-align: left;
} */

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.list-title {
  align-items: center;
  height: 35px;
  margin-top: auto;
 
}
.text-black {
  color: black;
}

.list-links{
    font-weight: 200;
    line-height: .2rem !important;
    height: 1.0rem !important;
}

.color-picker-container {
  display: flex;
  align-items: center;
}



.toggle {
  opacity: 0.8;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.upvote {
  margin-right: 10px;
}


.background-image {

  background-image: url(sunset.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}


.font-size-1 {
  font-size: 0.7rem;
}
.font-size-2 {
  font-size: .9rem;
}
.font-size-3 {
  font-size: 1.9rem;
}
.font-size-4 {
  font-size: 3rem;
}

@media screen and (max-width: 700px) {
  .card {
    padding: .5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .card .card-title {
    font-size: 1rem;
  }
  .card-body p {
    font-size: 1.4rem;
    font-weight: 300;
  }
  .card-header {
    flex-direction: column;
    justify-content: center;
  }
}

