/* columns is spectre */
/* spectre uses font-size .7 and .9 rem for small and large */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
html {
  font-size: 16px;
}

.card { 
  /* width: max-content; */
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .3);
  padding: 1rem 2rem;
}

.no-pointer {
  cursor: default;
}

.text-black {
  color: black;
}

.pointer {
  cursor: pointer;
}

.background-image {

  background-image: url(sunset.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}


.font-size-1 {
  font-size: 0.7rem;
}
.font-size-2 {
  font-size: .9rem;
}
.font-size-3 {
  font-size: 1.9rem;
}
.font-size-4 {
  font-size: 3rem;
}


.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.align-items-center {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 700px) {
  .card {
    padding: .5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .card .card-title {
    font-size: 1rem;
  }
  .card-body p {
    font-size: 1.4rem;
    font-weight: 300;
  }
  .card-header {
    flex-direction: column;
    justify-content: center;
  }
}

